In [1]:
import pandas as pd
import numpy as np
%run ../functions/ARFF.ipynb
arff_file_path = str('../data/Amazon_initial_50_30_10000.arff')
data, attributes, classes = load_arff_data(arff_file_path)
df = pd.DataFrame(data, columns=attributes)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 10001 entries, the numeric to class
dtypes: int64(10000), object(1)
memory usage: 114.5+ MB

In [5]:
zero_percentage = (df == 0).mean()
columns_to_keep = zero_percentage[zero_percentage <= 0.99].index
df_filtered = df[columns_to_keep]
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Columns: 8040 entries, the numeric to class
dtypes: int64(8038), object(2)
memory usage: 92.0+ MB

In [11]:
X = df_filtered.applymap(lambda x: True if isinstance(x, int) and x > 0 else (False if isinstance(x, int) else x))
X.head()

,the numeric,and numeric,a numeric,of numeric,to numeric,is numeric,I numeric,in numeric,that numeric,it numeric,...,le_to numeric,bra numeric,uch_a numeric,ave_a numeric,n_in_ numeric,ied_ numeric,nd_b numeric,rso numeric,class,class
0,True,True,True,True,True,True,True,True,True,True,...,False,False,True,False,True,False,False,False,False,Agresti
1,True,True,True,True,True,True,True,False,True,True,...,False,True,False,True,False,False,False,False,False,Agresti
2,True,True,True,True,True,True,True,True,True,True,...,False,True,False,False,False,False,True,False,False,Agresti
3,True,True,True,True,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,Agresti
4,True,True,True,True,True,True,False,True,False,True,...,False,True,False,False,True,True,False,False,False,Agresti